@import "tailwindcss";

@theme {
    --color-primary-blue:#03258C;
    --color-secondary-blue:#16348C;
    --color-tertiary-blue:#4453A6;
    --color-quaternary-blue:#2484BF;
}

@layer base{
    h1 {
        @apply text-6xl font-bold;
    }
    h2{
        @apply text-5xl font-bold;
    }
    h3{
        @apply text-4xl font-bold;
    }
    h4{
        @apply text-3xl font-bold;
    }
    h5{
        @apply text-2xl font-bold;
    }
    h6{
        @apply text-xl font-bold;
    }
}

.content-show-style {
    width: calc(100% - 40px);
    height: calc(100% - 300px);
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
